<section data-ng-controller="MusicsController" data-ng-init="findOne()">
	<div class="page-header title">
    	<div class="action">
    		<a class="edit-icon"><i class="glyphicon glyphicon-edit"></i></a>
		</div>
		<h1 data-ng-bind="music.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == music.user._id">
		<a class="btn btn-primary" href="/#!/musics/{{music._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="music.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="music.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="music.content"></p>
</section>

<style type="text/css">
.title {color:#999;border:1px solid #eee;border-radius:3px;}

.title .action {display: none;float: right;padding-right: 15px;padding-top: 20px;background-color:#f7f7f7;}
.title:hover .action {display: block;}
</style>